<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet">
</head>
<body>
<tr id="block" th:each="reservation, stat : ${reservation}">
    <td th:text="${reservation.name}"></td>
    <td th:text="${reservation.companyName}"></td>
    <td th:text="${reservation.reservationDate}"></td>
    <td th:text="${reservation.time}"></td>
    <td th:text="' - Duration: ' + ${reservation.durationInHours}"></td>
    <td th:text="' - Number of Seats: ' + ${reservation.numberOfSeats}"></td>
    <td th:text="' - Unassigned Seats: ' + (${reservation.numberOfSeats - sumOfAssignedSeats[stat.index]})"></td>

    <td>
        <form class="buttonform" th:action="@{'/'+ ${adminUrl} + '/assigntable'}" th:object="${reservation}" method="post">
            <button type="submit">Assign table</button>
            <!-- Optional hidden input field -->
            <input type="hidden" name="reservationUrl" th:value="${reservation.url}" />
        </form>
    </td>

    <td>
        <form class="buttonform" th:action="@{'/'+ ${adminUrl} + '/deletebooking'}" th:object="${reservation}" method="post">
            <button type="submit">Delete Booking</button>
            <input type="hidden" name="reservationUrl" th:value="${reservation.url}" />
        </form>
    </td>

    <td>
        <form class="buttonform" th:action="@{'/'+ ${adminUrl} + '/editbooking'}" th:object="${reservation}" method="post">
            <button type="submit">Edit Booking</button>
            <input type="hidden" name="reservationUrl" th:value="${reservation.url}" />
        </form>
    </td>
    <br> <br> <br>


</tr>
</body>
</html>