<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/static/stylesheet.css}">

</head>
<body>

<tr id="block" th:each="cafetable : ${availableTables}">
    <td th:text="'Table ID: ' + ${cafetable.id}"></td>
    <td th:text="' - Seat Capacity: ' + ${cafetable.seatCapacity}"></td>
    <td th:text="' - Table number: ' + ${cafetable.tableNumber}"></td>
    <td>
        <form class="buttonform" th:action="@{'/'+ ${adminUrl} + '/' + ${reservationUrl} }" th:object="${cafetable}" method="post">
            <button type="submit">Assign table</button>
            <input type="hidden" name="cafeTableId" th:value="${cafetable.id}"/>
            <!-- Optional hidden input field -->
        </form>
    </td>
    <br> <br> <br>
    <!--  <td>
          <form class="buttonform" th:action="@{'/' + ${wishListStringId} + '/editwish'}" method="post">
              <button type="submit">Edit Wish</button>
               Optional hidden input field
              <input type="hidden" name="wishIntegerId" th:value="${wish.id}" />
          </form>
      </td>
      <td>
          <form class="buttonform" th:action="@{'/' + ${wishListStringId} + '/deletewish'}" method="post">
              <button type="submit">Delete Wish</button>
               Optional hidden input field
              <input type="hidden" name="wishIntegerId" th:value="${wish.id}" />
          </form>
      </td> -->
</tr>

</body>
</html>