<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beverage Reservation</title>
</head>
<body>

<p>Forudbestilling af drikkevarer</p>

<form th:action="@{'/beveragereservation/' + ${reservationUrl}}" th:object="${BeverageReservation}" method="post">
  <table>
    <tr>
      <th>Beverage Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr th:each="beverage, iterStat : ${listOfBeverages}">
      <td th:text="${beverage.name}"></td>
      <td th:text="${beverage.price}"></td>
      <td>
        <input type="hidden" th:name="beverageIds" th:value="${beverage.id}" />
        <select th:name="quantities" th:value="0">
          <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="${i}"></option>
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" value="Submit pre-order">
</form>

<form th:action="@{'/nobeveragereservation/' + ${reservationUrl}}" method="post">
  <input type="submit" value="I do not wish to pre-order drinks">
</form>

</body>
</html>
