<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/resources/static/stylesheet.css}">

</head>
<body>

<form th:action="@{'/'+ ${adminUrl} + '/postnewbeverage'}" th:object="${beverage}" method="post">

  <div class="bookingform">
    <label for="name">Name:</label>
    <input th:field="*{name}" type="text" id="name" name="name"/>
    <br> <br>
  </div>

  <div class="bookingform">
    <label for="price">Price:</label>
    <input th:field="*{price}" type="number" id="price" name="price"/>
    <br>
  </div>

  <input type="submit" value="Submit Wish">
</form>

</body>
</html>