<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rediger drikkevare</title>
  <link rel="stylesheet" th:href="@{/resources/static/stylesheet.css}">
</head>
<body>

<section class="edit-beverage-container">
  <h2>Rediger drikkevare</h2>
  <form th:action="@{'/' + ${adminUrl} + '/editbeverage/' + ${beverage.id}}" th:object="${beverage}" method="post" class="edit-beverage-form">

    <div class="form-group">
      <label for="name">Navn:</label>
      <input th:field="*{name}" type="text" id="name" name="name"/>
    </div>

    <div class="form-group">
      <label for="price">Pris:</label>
      <input th:field="*{price}" type="number" id="price" name="price"/>
    </div>

    <button type="submit" class="btn">Tilføj redigering</button>
  </form>
</section>

</body>
</html>
