<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Reservation</title>
  <link rel="stylesheet" th:href="@{/resources/static/stylesheet.css}">
</head>
<body>

<section class="booking" id="booking">
  <div class="container">
    <h2>Edit Reservation</h2>
    <form th:action="@{'/'+ ${adminUrl} + '/editreservation/' + ${reservation.url}}" th:object="${reservation}" method="post" class="booking-form">

      <div class="form-group">
        <label for="name">Name:</label>
        <input th:field="*{name}" type="text" id="name" name="name" class="input-field"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">Name Error</span>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input th:field="*{email}" type="text" id="email" name="email" class="input-field"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message">Email Error</span>
      </div>

      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input th:field="*{companyName}" type="text" id="companyName" name="companyName" class="input-field"/>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input th:field="*{phoneNumber}" type="number" id="phoneNumber" name="phoneNumber" class="input-field"/>
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message">Phone Number Error</span>
      </div>

      <div class="form-group">
        <label for="numberOfSeats">Number of Attending Guests:</label>
        <input th:field="*{numberOfSeats}" type="number" id="numberOfSeats" name="numberOfSeats" th:attr="min=${minNumberOfGuests}" class="input-field"/>
        <span th:if="${#fields.hasErrors('numberOfSeats')}" th:errors="*{numberOfSeats}" class="error-message">Number of Attending Guests Error</span>
      </div>

      <div class="form-group">
        <label for="reservationDate">Reservation Date:</label>
        <input th:field="*{reservationDate}" type="date" id="reservationDate" name="reservationDate" th:attr="min=${minDate}" class="input-field"/>
        <span th:if="${#fields.hasErrors('reservationDate')}" th:errors="*{reservationDate}" class="error-message">Reservation Date Error</span>
      </div>

      <div class="form-group">
        <label for="time">Time:</label>
        <input th:field="*{time}" type="time" id="time" name="time" th:attr="min=${minTime},max=${maxTime},step='900'" class="input-field"/>
        <span th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="error-message">Time Error</span>
      </div>

      <div class="form-group">
        <label for="durationInHours">Duration (in Hours):</label>
        <input th:field="*{durationInHours}" type="number" id="durationInHours" name="duration" class="input-field"/>
        <span th:if="${#fields.hasErrors('durationInHours')}" th:errors="*{durationInHours}" class="error-message">Duration Error</span>
      </div>

      <div class="form-group checkbox-group">
        <label for="celebration" class="checkbox-label">Celebration:</label>
        <input th:field="*{celebration}" type="checkbox" id="celebration" value="true" th:checked="${reservation.celebration == 'true'}"/>
      </div>

      <div class="form-group checkbox-group">
        <label for="birthday" class="checkbox-label">Birthday:</label>
        <input th:field="*{birthday}" type="checkbox" id="birthday" value="true" th:checked="${reservation.birthday == 'true'}"/>
      </div>


      <button type="submit" class="btn">Submit Edit</button>
    </form>
  </div>
</section>

</body>
</html>
